#### 1. Import pandas library

In [1]:
import pandas as pd

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data

In [2]:
!pip3 install sqlalchemy

Collecting sqlalchemy
Installing collected packages: sqlalchemy
Successfully installed sqlalchemy-1.3.10

In [3]:
import sqlalchemy as db
import pymysql
from sqlalchemy import create_engine

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/search?tableCount%5B%5D=0-10&tableCount%5B%5D=10-30&dataType%5B%5D=Numeric&databaseSize%5B%5D=KB&databaseSize%5B%5D=MB)

In [4]:
engine = db.create_engine('mysql+pymysql://guest:relational@relational.fit.cvut.cz/stats')

#### 4. Import the users table

In [30]:
query = '''
SELECT * FROM users
'''
df = pd.read_sql_query(query,engine)

#### 5. Rename Id column to userId

In [35]:
df = df.rename(columns={'Id':'userId'})
df.columns

Index(['userId', 'Reputation', 'CreationDate', 'DisplayName', 'LastAccessDate',
       'WebsiteUrl', 'Location', 'AboutMe', 'Views', 'UpVotes', 'DownVotes',
       'AccountId', 'Age', 'ProfileImageUrl'],
      dtype='object')

#### 6. Import the posts table.

In [31]:
query = '''
SELECT * FROM posts
'''
df2 = pd.read_sql_query(query,engine)

#### 7. Rename Id column to postId and OwnerUserId to userId

In [36]:
df2 = df2.rename(columns={'Id':'postId', 'OwnerUserId':'userId'})
df2.columns

Index(['postId', 'PostTypeId', 'AcceptedAnswerId', 'CreaionDate', 'Score',
       'ViewCount', 'Body', 'userId', 'LasActivityDate', 'Title', 'Tags',
       'AnswerCount', 'CommentCount', 'FavoriteCount', 'LastEditorUserId',
       'LastEditDate', 'CommunityOwnedDate', 'ParentId', 'ClosedDate',
       'OwnerDisplayName', 'LastEditorDisplayName'],
      dtype='object')

#### 8. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userId,ViewCount,CommentCount

In [38]:
df3 = df[['userId','Reputation','Views','UpVotes','DownVotes']]
df4 = df2[["postId","Score","userId","ViewCount","CommentCount"]]

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [96]:
df5 = df.merge(df2)
display(df5.head())

,userId,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,...,NaN,0,NaN,-1.0,2014-04-23 13:43:43,NaT,NaN,NaT,None,None
1,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,...,NaN,0,NaN,-1.0,2011-03-21 17:40:28,NaT,NaN,NaT,None,None
2,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,...,NaN,0,NaN,-1.0,2011-03-21 17:46:43,NaT,NaN,NaT,None,None
3,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,...,NaN,0,NaN,919.0,2011-03-30 19:23:14,NaT,NaN,NaT,None,None
4,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,...,NaN,0,NaN,919.0,2011-03-30 19:23:14,NaT,NaN,NaT,None,None

#### 9. How many missing values do you have in your merged dataframe? On which columns?

In [104]:
print('Total of missing values: {}'.format(df5.isnull().values.sum()))

Total of missing values: 1128463

In [110]:
df5.isna().any()[lambda x: x]

WebsiteUrl               True
Location                 True
AboutMe                  True
Age                      True
ProfileImageUrl          True
AcceptedAnswerId         True
ViewCount                True
Body                     True
Title                    True
Tags                     True
AnswerCount              True
FavoriteCount            True
LastEditorUserId         True
LastEditDate             True
CommunityOwnedDate       True
ParentId                 True
ClosedDate               True
OwnerDisplayName         True
LastEditorDisplayName    True
dtype: bool

#### 10. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [112]:
''' 
Yo llenaría los valores que estan en NaN con 0.
'''

df5 = df5.fillna(0)

display(df5.head())

,userId,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,...,0.0,0,0.0,-1.0,2014-04-23 13:43:43,0,0.0,0,0,0
1,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,...,0.0,0,0.0,-1.0,2011-03-21 17:40:28,0,0.0,0,0,0
2,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,...,0.0,0,0.0,-1.0,2011-03-21 17:46:43,0,0.0,0,0,0
3,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,...,0.0,0,0.0,919.0,2011-03-30 19:23:14,0,0.0,0,0,0
4,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,...,0.0,0,0.0,919.0,2011-03-30 19:23:14,0,0.0,0,0,0

In [140]:
df5['LastEditDate'].value_counts()

0                      46228
2014-04-23 13:43:43        4
2013-11-03 11:37:38        2
2011-10-03 18:39:00        2
2013-08-16 15:52:18        2
                       ...
2013-09-16 21:38:42        1
2013-01-08 14:46:47        1
2011-12-10 11:28:38        1
2012-02-12 08:54:44        1
2014-04-09 15:53:05        1
Name: LastEditDate, Length: 44251, dtype: int64

#### 11. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [143]:
df5.astype({'Age':'int32','AcceptedAnswerId':'int32','ViewCount':'int32',
            'AnswerCount':'int32','FavoriteCount':'int32','LastEditorUserId':'int32','ParentId':'int32'
            }).dtypes

userId                            int64
Reputation                        int64
CreationDate             datetime64[ns]
DisplayName                      object
LastAccessDate           datetime64[ns]
WebsiteUrl                       object
Location                         object
AboutMe                          object
Views                             int64
UpVotes                           int64
DownVotes                         int64
AccountId                         int64
Age                               int32
ProfileImageUrl                  object
postId                            int64
PostTypeId                        int64
AcceptedAnswerId                  int32
CreaionDate              datetime64[ns]
Score                             int64
ViewCount                         int32
Body                             object
LasActivityDate          datetime64[ns]
Title                            object
Tags                             object
AnswerCount                       int32
CommentCount                      int64
FavoriteCount                     int32
LastEditorUserId                  int32
LastEditDate                     object
CommunityOwnedDate               object
ParentId                          int32
ClosedDate                       object
OwnerDisplayName                 object
LastEditorDisplayName            object
dtype: object

#### Bonus: Identify extreme values in your merged dataframe as you have learned in class, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder.